@import "./reset.css";

html {
  background-color: darkslategray;
}
.title {
  font-size: 32px;
  margin: 20px 0px;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
